APP_HOST=YOUR_APP_HOST
APP_PORT=YOUR_APP_PORT


DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PASS
DB_NAME=YOUR_DB_NAME
DB_PORT=YOUR_DB_PORT

RDB_ADDR=YOUR_RDB_ADDR
RDB_USER=YOUR_RDB_USERNAME
RDB_PASS=YOUR_RDB_PASS

JWT_ISSUER=YOUR_JWT_ISSUER
JWT_SECRET=YOUR_JWT_SECRET

ALLOWED_ORIGINS=YOUR_ALLOWED_ORIGINS


